<!-- Modal
  <button type="button" icon="pi pi-info-circle" label="Show"></button> -->
  <section style="margin-top:2%;background-color:#135EAB ;">
    <div class="container pt-5">
      <div class="row t2">
        <div class="col-lg-4">
          <div style="padding-top: 10px;padding-bottom: 10px;">
            <h5 class=" t5"><a style="text-decoration:none;color:#FFFFFF"
                routerLink="/front-office/portal-donnee-document/rc">Données et Documents SINEB </a>
            </h5>
            <a routerLink="/front-office/portal-donnee-document/projet-secteur/pper/1"><small>Projets du secteur </small>
            </a><br>
            <a routerLink="/front-office/portal-donnee-document/repertory-actor"><small>Repertoire des acteurs </small>
              <br>
            </a>
            <a routerLink="/front-office/portal-donnee-document/documents">
              <small>Banque de Documents </small>
            </a> <br>
            <!-- <a routerLink="/front-office/portal-institution/useful-links"><small> Sites web du Gouvernement
              </small></a><br> -->
  
          </div>
        </div>
  
        <div class="col-lg-3">
          <div style="padding-top: 10px;padding-bottom: 10px;">
            <h5 class="t5"> <a style="text-decoration:none;color:#FFFFFF"
                routerLink="/front-office/portal-institution/institution-presentation">SIE</a></h5>
            <!-- <a routerLink="/front-office/portal-sie/sie-presentation/presentation-sie"><small>PRÉSENTATION SIE </small> </a><br> -->
            <a routerLink="/front-office/portal-sie/dashboard"><small>TABLEAU DE BORD </small> </a><br>
            <a routerLink="/front-office/portal-sie/statistic"><small>STATISTIQUE </small> </a><br>
            <a routerLink="/front-office/portal-sie/indicator"><small>INDICATEUR </small> </a><br>
            <!--  <a routerLink="/front-office/portal-sie/repertory"><small>RÉPERTOIRE </small> </a><br>-->
            <a routerLink="/front-office/portal-sie/bilan"><small>BILAN </small> </a><br>
          </div>
        </div>
        <div class="col-lg-3">
          <div style="padding-top: 10px;padding-bottom: 10px;">
  
            <h5 class="t5"><a style="text-decoration:none;color:#FFFFFF" (click)="goToSIG()">SIEMap</a></h5>
            <a (click)="goToSIG()"> <small>SIEMap du Benin</small> </a><br>
            <a routerLink="/front-office/portal-institution/useful-links"> <small>SIEMap tiers</small> </a>
          </div>
        </div>
        <div class="col-lg-2">
          <div style="padding-top: 10px;padding-bottom: 10px;">
  
            <h5 class=" t5">Liens utiles</h5>
            <a href="https://www.sbee.bj/"> <small>SBEE</small> </a><br>
  
            <a href="https://energie.gouv.bj"> <small>Energie </small> </a><br>
            <a href="https://www.aberme.bj/"> <small>ABERME </small> </a><br>
            <a href="https://eis.ecowas.int/"> <small>ECOWAS</small> </a><br>
            <a href="https://direction-energie.gouv.bj/"> <small>DGRE </small> </a><br>
            <a href="https://www.cebnet.org/"> <small>CEB </small> </a><br>
            <a href="https://au-afrec.org/fr/base-de-donnees-energie#"> <small>AU</small> </a><br>
            <a href="https://ign.bj/"> <small>IGN </small> </a><br>
            <a href="http://sbpe.bj"><small>Sbpe</small> </a> <br>
            <!-- <a href=" http://ceb.bj"> <small>Ceb</small> </a> -->
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-2 d-flex"></div>
        <div class="col-lg-3 d-flex justify-content-center"><a href="https://energie.gouv.bj/"><img
              src="/base/img/Logof1.svg" alt="" style="height: 75px;"></a> </div>
        <div class="col-lg-3 d-flex justify-content-center"><a href="http://sineb.bj/">
          <img src="/base/img/Logof2.svg"
              alt="" style="height: 75px;"></a></div>
        <div class="col-lg-3 d-flex justify-content-center"><a href="https://european-union.europa.eu/index_fr"><img
              src="/base/img/logof3.svg" alt=""></a></div>
        <div class="col-lg-2 d-flex"></div>
      </div>
  
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex justify-content-center">
            <p
              style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 16.6047px; line-height: 200%; color: #FFFFFF;">
              © 2021 – 2023 Ministère de l’Energie du Bénin</p>
          </div>
          <div class="d-flex justify-content-center">
            <p
              style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 16.6047px; line-height: 200%; color: #FFFFFF;">
              Tous droits réservés, SINEB</p>
          </div>
        </div>
  
      </div>
  
  
  
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 g1">
  
        </div>
        <div class="col-lg-4 g2">
  
        </div>
        <div class="col-lg-4 g3">
  
        </div>
      </div>
    </div>
  </section><!-- Smartsupp Live Chat script -->