<!doctype html>
<html lang="fr">
<head>
  <title>Sineb</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

 
 
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/base/dist/css/media.css">
  <link rel="stylesheet" href="/base/dist/css/f.css">
 
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://kit.fontawesome.com/15228b5205.js" crossorigin="anonymous"></script>
    <script src="/base/js/bootstrap.js"></script>
 
    <style>

      body{
       font-family: 'Montserrat', sans-serif;
      }
          .logo
     
          {
     
     height: 300px;
     width: 500px;
     border-radius: 0px;
     bottom: 0;
     background-color: rgba(255, 255, 255, 0.8);  
     background-position-x: 50%;
     background-position-y: 50%;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-image: url("logoaccueil.svg");
     background-size: auto;
     background-origin: padding-box;
     background-clip: border-box;
     position: absolute;
     }
  
     
  </style>
  
      
</head>
<body>
  <nav id="site-header" class="navbar   navbar-default   bg-transparent navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
   
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a id="site" class="navbar-brand boss" routerLink="/" style="cursor: pointer">
              <img src="/base/img/logoaccueil.svg" class="logo5" alt="" style="height:50px;width: 110%;">
            </a></div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class=" nav navbar-nav ms-auto navbar-right ">
  
          <li class="">
            <a class="active" href="/" >Accueil</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/dataset">Jeu de données</a>
          </li>
  
          <!--<li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="/front-office/events-section-details">ACTUALITÉS</a>
              </li>-->
  
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page"  href="/organization"  >Organisation</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/group"   >Groupe</a>
          </li>
  
       <!--    <li class="nav-item">
            <a class="nav-link"  >Créer un rapport</a>
          </li>  -->
          <li class="nav-item">
            <a class="nav-link"  href="/about"  >A Propos</a>
          </li>
        <!--
          <li class="nav-item">
            <a class="bf nav-link " style="color:white!important" href="http://sineb.bj/back-office/">CONNEXION</a>
          </li>
        -->
        </ul>
  
      </div>
    </div>
  </nav>
  
  
  
  
  <section style="z-index: 1;position: relative; ">
    <div class="container-fluid g-0">
      <div class="row g-0">
        <div class="col-lg-4 d-flex justify-content-center"
          style="background-color: rgba(255, 255, 255, 0.8);backdrop-filter: blur(20px);">
          <a routerLink="/" style="cursor: pointer">
            <img src="/base/img/logoaccueil.svg" alt="" class="logot1">
          </a>
        </div>
        <div class="col-lg-8 headerall">
  
          
          <div class="row g-0 reg1  ">
            <a class="  col-sm-4 vert d-flex justify-content-center   cm lien1 pt-4"
              routerLink="front-office/portal-donnee-document/rc">
              Donnees et Documents SINEB
            </a>
            <a class="  col-sm-4 jaune  d-flex justify-content-center cm  lien2 pt-4"
              routerLink="/front-office/portal-sie/dashboard">
              SIE
            </a>
            <a class="  col-sm-4 rouge d-flex justify-content-center  cm lien3 pt-4" style="text-transform: none;" routerLink="/sig-map">
              SIEMap
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- Button trigger modal -->


  <div class="container-fluid" style="background-color:rgba(9, 81, 69);">

    <div class="row" style="text-align: center; padding-top:50px ; padding-bottom: 50px;">
       <a href="/group/gaz-naturel" class="col-lg-3">
           <img src="/base/img/icons/co2-cloud.png" height="80" width="80" class="icon" alt=""/> <br>
           <span style="color: white;">Gaz naturel</span>
       </a>
       <a href="/group/biomasse" class="col-lg-3">
           <img src="base/img/icons/fire.png" height="80" width="80" class="icon" alt=""/> <br>
           <span style="color: white;">Biomasse</span>
       </a>
       <a href="/group/charbon-mineral-combustible-fossil" class="col-lg-3">
           <img src="base/img/icons/thunder.png" height="80" width="80" class="icon" alt=""/> <br>
           <span style="color: white;">Charbon mineral combustible fossil</span>
       </a>
       <a href="/group/petrole-brute-produit-petrolier" class="col-lg-3">
           <img src="base/img/icons/electric-tower.png" height="80" width="80" class="icon" alt=""/> <br>
           <span style="color: white;">Petrole brute produit petrolier</span>
       </a>
     <!-- <div class="col">
           <img src="base/img/icons/big-data.png" height="80" width="80" class="icon" alt=""/> <br>  
           <span style="color: white;">Marcher de vente en gros</span>
       </div>--> 
       
    </div>
   </div>

 <div class="new" style="text-align: center;">
  <h3>NOUVELLES</h3>
  <p>La production d'électricité 2021-2022 a baissé de 10%</p>
</div>

<div class="container">
  <div class="row">
      <div class="col-lg-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore esse, recusandae eum distinctio laboriosam ut reprehenderit pariatur consequatur odio non minus voluptate modi, atque hic similique dignissimos nemo! Ipsa.</p>
      </div>
      <div class="col-lg-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore esse, recusandae eum distinctio laboriosam ut reprehenderit pariatur consequatur odio non minus voluptate modi, atque hic similique dignissimos nemo! Ipsa.</p>
      </div>
      <div class="col-lg-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore esse, recusandae eum distinctio laboriosam ut reprehenderit pariatur consequatur odio non minus voluptate modi, atque hic similique dignissimos nemo! Ipsa.</p>
      </div>
      <div class="col-lg-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore esse, recusandae eum distinctio laboriosam ut reprehenderit pariatur consequatur odio non minus voluptate modi, atque hic similique dignissimos nemo! Ipsa.</p>
      </div>
  </div>
</div>
<!-- Modal
<button type="button" icon="pi pi-info-circle" label="Show"></button> -->
  <!-- Modal
  <button type="button" icon="pi pi-info-circle" label="Show"></button> -->
  <section style="margin-top:2%;background-color:#135EAB ;">
    <div class="container pt-5">
      <div class="row t2">
        <div class="col-lg-4">
          <div style="padding-top: 10px;padding-bottom: 10px;">
            <h5 class=" t5"><a style="text-decoration:none;color:#FFFFFF"
                routerLink="/front-office/portal-donnee-document/rc">Données et Documents SINEB </a>
            </h5>
            <a routerLink="/front-office/portal-donnee-document/projet-secteur/pper/1"><small>Projets du secteur </small>
            </a><br>
            <a routerLink="/front-office/portal-donnee-document/repertory-actor"><small>Repertoire des acteurs </small>
              <br>
            </a>
            <a routerLink="/front-office/portal-donnee-document/documents">
              <small>Banque de Documents </small>
            </a> <br>
            <!-- <a routerLink="/front-office/portal-institution/useful-links"><small> Sites web du Gouvernement
              </small></a><br> -->
  
          </div>
        </div>
  
        <div class="col-lg-3">
          <div style="padding-top: 10px;padding-bottom: 10px;">
            <h5 class="t5"> <a style="text-decoration:none;color:#FFFFFF"
                routerLink="/front-office/portal-institution/institution-presentation">SIE</a></h5>
            <!-- <a routerLink="/front-office/portal-sie/sie-presentation/presentation-sie"><small>PRÉSENTATION SIE </small> </a><br> -->
            <a routerLink="/front-office/portal-sie/dashboard"><small>TABLEAU DE BORD </small> </a><br>
            <a routerLink="/front-office/portal-sie/statistic"><small>STATISTIQUE </small> </a><br>
            <a routerLink="/front-office/portal-sie/indicator"><small>INDICATEUR </small> </a><br>
            <!--  <a routerLink="/front-office/portal-sie/repertory"><small>RÉPERTOIRE </small> </a><br>-->
            <a routerLink="/front-office/portal-sie/bilan"><small>BILAN </small> </a><br>
          </div>
        </div>
        <div class="col-lg-3">
          <div style="padding-top: 10px;padding-bottom: 10px;">
  
            <h5 class="t5"><a style="text-decoration:none;color:#FFFFFF" (click)="goToSIG()">SIEMap</a></h5>
            <a (click)="goToSIG()"> <small>SIEMap du Benin</small> </a><br>
            <a routerLink="/front-office/portal-institution/useful-links"> <small>SIEMap tiers</small> </a>
          </div>
        </div>
        <div class="col-lg-2">
          <div style="padding-top: 10px;padding-bottom: 10px;">
  
            <h5 class=" t5">Liens utiles</h5>
            <a href="https://www.sbee.bj/"> <small>SBEE</small> </a><br>
  
            <a href="https://energie.gouv.bj"> <small>Energie </small> </a><br>
            <a href="https://www.aberme.bj/"> <small>ABERME </small> </a><br>
            <a href="https://eis.ecowas.int/"> <small>ECOWAS</small> </a><br>
            <a href="https://direction-energie.gouv.bj/"> <small>DGRE </small> </a><br>
            <a href="https://www.cebnet.org/"> <small>CEB </small> </a><br>
            <a href="https://au-afrec.org/fr/base-de-donnees-energie#"> <small>AU</small> </a><br>
            <a href="https://ign.bj/"> <small>IGN </small> </a><br>
            <a href="http://sbpe.bj"><small>Sbpe</small> </a> <br>
            <!-- <a href=" http://ceb.bj"> <small>Ceb</small> </a> -->
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-2 d-flex"></div>
        <div class="col-lg-3 d-flex justify-content-center"><a href="https://energie.gouv.bj/"><img
              src="/base/img/Logof1.svg" alt="" style="height: 75px;"></a> </div>
        <div class="col-lg-3 d-flex justify-content-center"><a href="http://sineb.bj/">
          <img src="/base/img/Logof2.svg"
              alt="" style="height: 75px;"></a></div>
        <div class="col-lg-3 d-flex justify-content-center"><a href="https://european-union.europa.eu/index_fr"><img
              src="/base/img/logof3.svg" alt=""></a></div>
        <div class="col-lg-2 d-flex"></div>
      </div>
  
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex justify-content-center">
            <p
              style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 16.6047px; line-height: 200%; color: #FFFFFF;">
              © 2021 – 2023 Ministère de l’Energie du Bénin</p>
          </div>
          <div class="d-flex justify-content-center">
            <p
              style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 16.6047px; line-height: 200%; color: #FFFFFF;">
              Tous droits réservés, SINEB</p>
          </div>
        </div>
  
      </div>
  
  
  
    </div>
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 g1">
  
        </div>
        <div class="col-lg-4 g2">
  
        </div>
        <div class="col-lg-4 g3">
  
        </div>
      </div>
    </div>
  </section><!-- Smartsupp Live Chat script -->
  <script type="text/javascript">
   
    </script>
      <script src="base/js/jquery-3.3.1.min.js"></script>
      <script src="base/js/bootstrap.js"></script>
      <script src="base/js/carousel.js"></script>  
       <script src="base/js/scroll.js"></script>
        
<script>

</script>
</body>
</html>
